body {
    font-size: 22px;
    /* //border: 3px solid black; */
    /* font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; */
}
h1, h2 {
    color: blue;
}
p{
    color: purple;
}

p{
    color: red;
}

.highlight{
    text-transform: uppercase;
    background-color: gold;
}

.gray{
    color: gray;
}

#second{
    font-style: italic;
}