@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


/* floats */
/*.block {
    width: 30vw;
    height: 30vw;
    background-color: #000;
    padding: 1rem;
    color: #fff;
}
.left{
    float: left;
    margin-right: 1rem;
}

.right{
    float: right;
    margin-left: 1rem;
}

.clear{
    clear: both;
}

section {
background-color: bisque;
border: 1px solid #333;
padding: 1rem;
display: flow-root; 
/* to the container */


/* .columns { */
    /* column-count: 4;
    column-width: 250px;   same as columns*/
    /* columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
} */

/* .columns p{
    margin-top: 0;
} */

/* position ex 1 starts */
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}
.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;

}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute{
    background-color: #00f;
    position: absolute;
    top: 0;
    left: -10000px;
    z-index: 1;
}

.relative {
background-color: #f00;
position: relative;
top: 100px;
left: 100px;
}

.fixed{
    background-color: green;
    position: fixed;
    top: 100px;
}

.sticky{
    background-color: #000;
    position: sticky;
    top: 0;
} */

/* position ex 1 ends */

/* position ex 2 starts */

/* html{
    scroll-behavior: smooth;
}
section{
    height: 100vh;
}
.blue{ background-color: #00f;}
.red{ background-color: #f00;}
.green{ background-color: green;}

header, footer{
    color: #fff;
    text-align: center;
    height: 100px;
}

header{
    position: sticky;
    top: 0;
    font-size: 5rem;

}

footer{
    background-color: #000;
    position: fixed;
    bottom: 0;
    font-size: 3rem;
}

a:visited{
    color: #fff;
}

.social{
    background-color: royalblue;
    color: #fff;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
} */
/* position ex 2 end */


/* flexbox starts */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-flow: row wrap;
  align-content: space-evenly;
  gap: 1rem;
} 

.box {
  min-width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-grow: 1 1 150px;
}

.box:nth-child(2){
  flex-grow: 2 2 150px;
  order: 4;
} */

/* flexbox ends */

/* grid starts */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 50px auto 50px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd hd" 
  "mn mn mn mn mn mn mn sb sb"
  "ft ft ft ft ft ft ft ft ft";
  column-gap: 0.5rem;
}

.el {
  background-color: rebeccapurple;
  color: #fff;
  display: grid;
  place-content: center;
}

.header {
  grid-area: hd;
}

.sidebar {
  grid-area: sb;
  background-color: #00f;
}

.footer {
  grid-area: ft;
}


.container {
  grid-area: mn;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 1em;
  
}

.box {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
}

.box:first-child {
 background-color: #00f;
 grid-column-start: 1;
 grid-column: 1 / 4;
 grid-row: 1 / 3;
  display: grid;
  align-content: center;
  place-content: center;
 
} 

 .box:nth-child(2) {
  background-color: purple;
  grid-column: 1 / 5;
  grid-row: 3 / 4; 
} */

/* grid ends */

/* images starts */
/* img{
  display: block;
} */

/* Utility Classes */
/* .nowrap{
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
} */

/* end Utility Classes */


/* body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img{
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.hero {
  border-bottom: 2px solid #000;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  background-color: rgb(251, 210, 156);
  background-image: url('../img/scenic-2200x1331.png');
  background-repeat: repeat-y;
  background-size: cover;
}

.h1{
  font-size: 500%;
  color: aliceblue;
  text-shadow: 2px 2px 5px #000;
  
  padding: 0.25rem;
}
.example{
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img{
  width: 25%;
  height: auto;
} */
/* images ends */


/* general styles */

/* functions starts */

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  /* FONT */
  --FF: "Nunito", sans-serif;
  --FS: clamp(1.75rem, 3vh, 2.25rem);
  --FS-SM: clamp(1.25rem, 2vh, 1.5rem);
  --FS-XL: 3rem;

  /* COLOR */
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: #1E293B;
  --RADIAL-COLOR: whitesmoke;
  --LIGHT-COLOR: whitesmoke;
  --DARK-COLOR: #000;

  /* SQUARE */
  --SQUARE-BGCOLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);

  /* GENERAL */
  --PADDING: 0.5em;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);
}

@media (prefers-color-scheme: light) {
  :root {
    --BGCOLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL-COLOR: rgb(217, 217, 217);
    --SQUARE-BGCOLOR: rgb(202, 174, 202);
  }
}

/* || GENERAL STYLES */
body {
  font: var(--FS) var(--FF);
  min-height: 100vh;

  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
  display: flex;
  flex-direction: column;
}

header,
nav,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: var(--ALT-BGCOLOR);
  color: var(--LIGHT-COLOR);
}

header {
  top: 0;
}

nav {
  background-color: var(--LIGHT-COLOR);
  color: var(--DARK-COLOR);
  padding: var(--PADDING);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}

main {
  flex-grow: 1;
  padding: var(--PADDING);
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  gap: min(4vw, 15px);

  /* padding: 10px 0; */
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* justify-content: flex-start; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* flex-flow: row wrap; */
  /*  */
}

main section{
  flex-grow: 1;
  padding: var(--PADDING);
}

main aside{
  background-color: hsla(0, 0, 0%, 0.8);
  color: var(--LIGHT-COLOR);
  font-size: var(--FS-SM);
  font-style: italic;
  padding: var(--PADDING);
}

.content{
  margin-top: 20px;
}

.tooltip{
  border-bottom: 1px dashed orange;
  position: absolute;
}

.tooltip:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -20px;
  white-space: nowrap;
  background-color: var(--DARK-COLOR);
  padding: var(--PADDING);
  border-radius: 15px;
}

footer {
  bottom: 0;
}

a:any-link{
  color: firebrick;
}

a:hover, a:focus{
  filter: hue-rotate(90deg);
}
/* || FEATURES */

.square--highlight {
  --SQUARE-BGCOLOR: cornflowerblue;
}

.square {
  background-color: var(--SQUARE-BGCOLOR);
  /* width: var(--SQUARE-SIZE);
  height: var(--SQUARE-SIZE); */
  border: var(--BORDERS);
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: var(--FS-XL);
  box-shadow: var(--SHADOWS);
}

@media screen and (min-width: 576px) {
  main{
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  main section{
    width: calc(70% - 5px);
  }

  main aside{
    width: calc(30% - 5px);
  }

 
}


/* functions ends */